In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

In [2]:
import warnings
from sklearn.exceptions import ConvergenceWarning
from scipy.linalg import LinAlgWarning
warnings.filterwarnings(action='ignore', category=ConvergenceWarning)
warnings.filterwarnings(action='ignore', category=FutureWarning)
warnings.filterwarnings(action='ignore', category=LinAlgWarning)
warnings.filterwarnings(action='ignore', category=UserWarning)

# titanic data

Najpierw zaloguj się do https://www.kaggle.com/ i przejdź do wyzwania https://www.kaggle.com/c/titanic, aby pobrać 
 * train.csv i test.csv. 

Zapisz je w katalogu datasets/titanic.

In [3]:
import os
TITANIC_PATH = os.path.join("data", "Titanic")

In [4]:
import pandas as pd

def load_titanic_data(filename, titanic_path=TITANIC_PATH):
    csv_path = os.path.join(titanic_path, filename)
    return pd.read_csv(csv_path)

In [5]:
train_data = load_titanic_data("train.csv")
test_data = load_titanic_data("test.csv")

* Dane są już podzielone na zestaw treningowy i zestaw testów. 
* Jednak dane testowe nie zawierają etykiet: Twoim celem jest wyszkolenie najlepszego modelu, który możesz wykorzystać w danych treningowych, następnie dokonanie swoich przewidywań na danych testowych i przesłanie ich do Kaggle, aby zobaczyć ostateczny wynik.

Rzućmy okiem na kilka pierwszych rzędów zestawu treningowego:

In [6]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The attributes have the following meaning:

* Survived: that's the target, 0 means the passenger did not survive, while 1 means he/she survived.
* Pclass: passenger class.
* Name, Sex, Age: self-explanatory
* SibSp: how many siblings & spouses of the passenger aboard the Titanic.
* Parch: how many children & parents of the passenger aboard the Titanic.
* Ticket: ticket id
* Fare: price paid (in pounds)
* Cabin: passenger's cabin number
* Embarked: where the passenger embarked the Titanic
* Let's get more info to see how much data is missing:

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Atrybuty **Age**, **Cabin** oraz **Embarked** są czasami zerowe (mniej niż 891 wartości bez wartości null), szczególnie w przypadku **Cabin** (77% ma wartość zerową). Zignorujemy teraz **Cabin** i skupimy się na reszcie. Atrybut **Age** ma około 19% wartości pustych, więc będziemy musieli zdecydować, co z nimi zrobić. Zastąpienie wartości null medianą wieku wydaje się uzasadnione.

Atrybuty **Name** i **Ticket** mogą mieć pewną wartość, ale będą one nieco trudne do przekształcenia w użyteczne liczby. Na razie będziemy je ignorować.

Rzućmy okiem na atrybuty liczbowe:

In [8]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* Tylko 38% przeżyło: to wystarczająco blisko do 40%, więc **accuracy** będzie rozsądną miarą do oceny naszego modelu.

Sprawdźmy, czy etykiety przyjmują wartości 0 lub 1:

In [9]:
print(train_data["Survived"].value_counts())
print("----------------------------")
print(train_data.isnull().sum())

0    549
1    342
Name: Survived, dtype: int64
----------------------------
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
X = train_data.drop(['Survived'], axis=1)
y = train_data['Survived'].values
np.unique(y)
y[ y == ' <=50K'] = 0
y[ y == ' >50K'] = 1

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

print("X.shape: {} y.shape: {}".format(X.shape, y.shape))

X.shape: (891, 11) y.shape: (891,)

Nie zapomnij o etykietach:

In [11]:
y_train = X.values
X_train = X

Teraz rzućmy okiem na wszystkie atrybuty kategoryczne:

In [12]:
train_data["Cabin"].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [13]:
train_data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [14]:
train_data["Ticket"].value_counts()

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

In [15]:
train_data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

Atrybut **Embarked** mówi nam, gdzie pasażer zaokrętował: C = Cherbourg, Q = Queenstown, S = Southampton.

Teraz zbudujmy nasze **pipeline** preprocessingu. 

Wykorzystamy DataframeSelector aby wybrać określone atrybuty z DataFrame:

In [16]:
from sklearn.base import BaseEstimator, TransformerMixin

# A class to select numerical or categorical columns 
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

Zbudujmy **pipeline** dla atrybutów numerycznych:

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(["Fare"])),
        ("imputer", SimpleImputer(strategy="median")),
])

In [19]:
num_pipeline.fit_transform(X_train)

array([[ 28.5   ],
       [ 13.    ],
       [  7.925 ],
       [  7.8542],
       [ 31.275 ],
       [247.5208],
       [ 26.55  ],
       [ 27.7208],
       [  7.8958],
       [ 35.5   ],
       [ 13.    ],
       [ 24.15  ],
       [ 12.275 ],
       [  7.0542],
       [  9.5   ],
       [ 26.    ],
       [ 90.    ],
       [227.525 ],
       [ 13.    ],
       [ 57.    ],
       [ 31.275 ],
       [  6.2375],
       [  8.6625],
       [ 26.25  ],
       [  9.5875],
       [  7.2292],
       [ 22.3583],
       [  9.4833],
       [120.    ],
       [ 14.4583],
       [  8.05  ],
       [211.5   ],
       [  7.25  ],
       [ 90.    ],
       [  7.725 ],
       [ 25.4667],
       [ 21.075 ],
       [ 30.    ],
       [ 61.3792],
       [ 26.    ],
       [  7.25  ],
       [  7.8958],
       [ 13.    ],
       [ 20.2125],
       [ 30.5   ],
       [  7.05  ],
       [ 14.5   ],
       [  7.5208],
       [151.55  ],
       [ 26.    ],
       [  7.925 ],
       [ 21.    ],
       [262.375 ],
       [  7.75  ],
       [  7.2292],
       [  8.6625],
       [  7.775 ],
       [ 80.    ],
       [  9.8417],
       [227.525 ],
       [ 12.35  ],
       [  0.    ],
       [ 26.    ],
       [  7.225 ],
       [  8.6625],
       [  6.4375],
       [  9.5   ],
       [  8.05  ],
       [  7.8958],
       [  7.25  ],
       [ 30.5   ],
       [ 12.475 ],
       [ 26.    ],
       [  7.75  ],
       [  7.2292],
       [133.65  ],
       [  6.975 ],
       [  8.05  ],
       [ 77.9583],
       [ 10.5   ],
       [ 26.    ],
       [151.55  ],
       [106.425 ],
       [ 13.    ],
       [  8.6625],
       [  0.    ],
       [ 26.55  ],
       [  8.6625],
       [ 26.55  ],
       [ 81.8583],
       [  7.8958],
       [ 11.1333],
       [ 27.75  ],
       [ 26.25  ],
       [153.4625],
       [ 26.25  ],
       [  8.05  ],
       [  8.3   ],
       [ 15.05  ],
       [110.8833],
       [ 13.    ],
       [  8.6625],
       [  7.05  ],
       [133.65  ],
       [  0.    ],
       [ 15.0458],
       [ 39.6875],
       [  7.8792],
       [ 23.45  ],
       [ 26.    ],
       [ 11.1333],
       [  7.65  ],
       [  7.75  ],
       [ 15.7417],
       [ 15.2458],
       [  7.925 ],
       [ 51.8625],
       [ 15.5   ],
       [ 41.5792],
       [ 14.4542],
       [ 10.5167],
       [ 20.525 ],
       [ 89.1042],
       [ 36.75  ],
       [ 10.5   ],
       [  8.05  ],
       [ 55.4417],
       [ 24.15  ],
       [ 14.5   ],
       [ 26.55  ],
       [ 13.    ],
       [ 50.    ],
       [ 21.    ],
       [ 13.8625],
       [  7.8958],
       [  8.05  ],
       [ 10.5   ],
       [ 16.7   ],
       [ 13.5   ],
       [ 36.75  ],
       [ 21.075 ],
       [ 35.    ],
       [  8.05  ],
       [ 55.9   ],
       [  7.8   ],
       [ 10.5   ],
       [  7.925 ],
       [  7.8542],
       [  7.75  ],
       [ 34.375 ],
       [  7.75  ],
       [  7.225 ],
       [  7.2292],
       [ 18.    ],
       [ 13.    ],
       [ 26.    ],
       [ 47.1   ],
       [ 80.    ],
       [ 19.5   ],
       [  8.6625],
       [ 13.5   ],
       [ 20.25  ],
       [  8.05  ],
       [ 31.3875],
       [  8.1125],
       [  7.8292],
       [  7.8958],
       [ 59.4   ],
       [  7.8958],
       [ 79.2   ],
       [ 56.4958],
       [ 57.9792],
       [  7.925 ],
       [ 25.4667],
       [ 10.5   ],
       [ 46.9   ],
       [  8.6625],
       [ 52.5542],
       [ 10.5   ],
       [ 29.125 ],
       [ 56.4958],
       [  9.825 ],
       [ 13.    ],
       [  7.75  ],
       [  7.925 ],
       [ 14.4583],
       [  7.75  ],
       [ 61.175 ],
       [ 15.1   ],
       [  8.05  ],
       [ 66.6   ],
       [ 83.1583],
       [ 37.0042],
       [  7.75  ],
       [ 26.    ],
       [ 20.525 ],
       [  7.25  ],
       [ 26.55  ],
       [ 16.1   ],
       [ 41.5792],
       [  7.8958],
       [ 57.9792],
       [ 27.9   ],
       [211.3375],
       [106.425 ],
       [ 16.1   ],
       [  7.7958],
       [ 13.    ],
       [ 40.125 ],
       [  7.05  ],
       [  7.75  ],
       [ 28.7125],
       [ 19.2583],
       [ 49.5042],
       [ 65.    ],
       [ 52.    ],
       [ 86.5   ],
       [ 13.    ],
       [  7.8958],
       [ 26.    ],
       [ 16.    ],
       [ 53.1   ],
       [  6.8583],
       [ 79.2   ],
       [ 19.9667],
       [ 13.7917],
       [  7.7333],
       [113.275 ],
       [  8.05  ],
       [ 26.    ],
       [ 21.075 ],
       [  7.8958],
       [ 69.55  ],
       [ 26.    ],
       [ 30.0708],
       [ 26.    ],
       [  8.0292],
       [ 55.    ],
       [ 13.    ],
       [  7.8958],
       [ 39.6   ],
       [ 24.    ],
       [  7.925 ],
       [ 26.    ],
       [ 16.1   ],
       [  7.8958],
       [  7.225 ],
       [ 26.25  ],
       [ 20.575 ],
       [211.3375],
       [ 26.25  ],
       [ 17.4   ],
       [ 26.    ],
       [ 22.025 ],
       [ 26.    ],
       [ 29.7   ],
       [ 14.5   ],
       [  7.65  ],
       [  7.8958],
       [  7.0542],
       [  0.    ],
       [  7.925 ],
       [  6.95  ],
       [ 15.5   ],
       [  0.    ],
       [ 25.5875],
       [ 26.55  ],
       [ 26.    ],
       [263.    ],
       [ 11.5   ],
       [ 21.    ],
       [ 11.2417],
       [ 18.7875],
       [  7.75  ],
       [ 10.5   ],
       [  7.25  ],
       [  7.8958],
       [ 26.55  ],
       [ 37.0042],
       [  7.7958],
       [  7.2292],
       [  7.75  ],
       [ 29.125 ],
       [ 13.4167],
       [  7.75  ],
       [ 13.    ],
       [ 15.7417],
       [ 73.5   ],
       [  7.225 ],
       [ 10.5   ],
       [  7.75  ],
       [164.8667],
       [  7.8958],
       [ 11.5   ],
       [ 27.9   ],
       [ 79.65  ],
       [ 53.1   ],
       [ 71.    ],
       [ 69.3   ],
       [153.4625],
       [  7.8542],
       [108.9   ],
       [ 14.4   ],
       [ 83.1583],
       [  7.225 ],
       [ 15.5   ],
       [  8.6625],
       [  6.4958],
       [ 12.2875],
       [ 13.    ],
       [ 31.3875],
       [146.5208],
       [  7.75  ],
       [  7.925 ],
       [  7.775 ],
       [ 13.8583],
       [ 46.9   ],
       [ 13.    ],
       [  0.    ],
       [  7.2292],
       [  7.8958],
       [ 13.    ],
       [ 19.9667],
       [ 10.1708],
       [ 24.15  ],
       [  7.8542],
       [ 56.4958],
       [  0.    ],
       [  8.05  ],
       [263.    ],
       [  7.2292],
       [ 19.2583],
       [ 13.    ],
       [ 77.2875],
       [  7.7417],
       [ 39.6875],
       [ 17.8   ],
       [ 12.475 ],
       [ 15.85  ],
       [  7.25  ],
       [ 12.65  ],
       [ 14.5   ],
       [  7.25  ],
       [  7.225 ],
       [ 69.55  ],
       [ 26.2875],
       [ 13.    ],
       [ 18.75  ],
       [227.525 ],
       [ 18.    ],
       [  7.8542],
       [ 90.    ],
       [ 30.    ],
       [ 42.4   ],
       [ 24.15  ],
       [  7.775 ],
       [  7.3125],
       [  7.8958],
       [ 23.    ],
       [ 13.    ],
       [  7.1417],
       [ 12.35  ],
       [ 15.2458],
       [  9.5   ],
       [164.8667],
       [ 13.    ],
       [  7.925 ],
       [512.3292],
       [ 69.55  ],
       [ 23.25  ],
       [512.3292],
       [ 39.6875],
       [  7.55  ],
       [ 14.4   ],
       [ 33.    ],
       [ 24.15  ],
       [  7.225 ],
       [  8.05  ],
       [  7.775 ],
       [  8.05  ],
       [ 73.5   ],
       [ 29.125 ],
       [ 29.125 ],
       [  8.05  ],
       [ 21.6792],
       [ 25.9292],
       [  7.75  ],
       [ 34.0208],
       [ 16.1   ],
       [ 46.9   ],
       [  8.05  ],
       [  8.05  ],
       [  9.35  ],
       [  7.225 ],
       [ 33.    ],
       [ 18.75  ],
       [  8.6625],
       [ 15.5   ],
       [ 25.4667],
       [  8.05  ],
       [ 26.55  ],
       [ 21.075 ],
       [ 19.2583],
       [  7.2292],
       [  8.05  ],
       [ 23.    ],
       [ 27.7208],
       [ 14.5   ],
       [  9.5   ],
       [  9.5875],
       [ 11.5   ],
       [ 78.85  ],
       [  7.925 ],
       [ 23.45  ],
       [  7.775 ],
       [ 30.    ],
       [  8.05  ],
       [ 39.    ],
       [  7.7333],
       [  7.775 ],
       [ 14.4542],
       [ 10.5   ],
       [ 39.    ],
       [  8.6542],
       [  7.7333],
       [ 24.15  ],
       [ 15.    ],
       [ 31.275 ],
       [ 26.    ],
       [ 66.6   ],
       [ 15.85  ],
       [ 29.7   ],
       [ 18.7875],
       [  9.5   ],
       [ 10.5   ],
       [ 11.1333],
       [ 13.    ],
       [  7.2292],
       [ 27.75  ],
       [ 16.1   ],
       [ 12.35  ],
       [  7.775 ],
       [ 51.4792],
       [  7.925 ],
       [ 13.    ],
       [ 79.65  ],
       [ 31.275 ],
       [151.55  ],
       [  7.925 ],
       [ 12.525 ],
       [ 26.    ],
       [ 79.2   ],
       [110.8833],
       [  8.05  ],
       [ 34.375 ],
       [  7.7958],
       [  8.6625],
       [ 56.4958],
       [  7.8958],
       [ 15.9   ],
       [ 13.    ],
       [135.6333],
       [ 15.5   ],
       [ 13.    ],
       [ 86.5   ],
       [ 41.5792],
       [  6.75  ],
       [  7.775 ],
       [  8.4042],
       [153.4625],
       [ 20.25  ],
       [  8.85  ],
       [  7.925 ],
       [ 30.0708],
       [ 39.    ],
       [  6.4958],
       [263.    ],
       [  7.775 ],
       [  8.05  ],
       [ 20.575 ],
       [  6.975 ],
       [ 26.25  ],
       [  9.825 ],
       [  7.8958],
       [211.3375],
       [  7.8875],
       [ 10.5   ],
       [ 69.3   ],
       [ 10.5   ],
       [ 10.5   ],
       [  0.    ],
       [ 16.1   ],
       [  9.35  ],
       [  8.1375],
       [ 46.9   ],
       [ 69.55  ],
       [ 56.4958],
       [  7.775 ],
       [  0.    ],
       [  9.5   ],
       [ 78.2667],
       [  8.05  ],
       [ 13.5   ],
       [ 23.    ],
       [ 30.5   ],
       [ 52.    ],
       [135.6333],
       [  5.    ],
       [ 12.475 ],
       [ 31.3875],
       [  0.    ],
       [  8.05  ],
       [ 14.    ],
       [  7.55  ],
       [  7.8958],
       [  7.2292],
       [  7.8792],
       [512.3292],
       [ 77.9583],
       [ 30.5   ],
       [  9.5   ],
       [  7.25  ],
       [  7.8958],
       [ 90.    ],
       [ 69.55  ],
       [ 26.    ],
       [ 27.75  ],
       [ 16.1   ],
       [108.9   ],
       [ 16.1   ],
       [  7.8958],
       [ 39.6875],
       [  8.5167],
       [ 10.5   ],
       [  7.125 ],
       [ 76.7292],
       [ 65.    ],
       [ 39.6   ],
       [ 31.275 ],
       [ 55.9   ],
       [ 15.85  ],
       [ 10.5   ],
       [110.8833],
       [ 69.55  ],
       [  7.2292],
       [ 52.    ],
       [ 71.    ],
       [ 33.5   ],
       [  6.75  ],
       [  7.4958],
       [ 14.5   ],
       [ 56.4958],
       [  8.05  ],
       [  8.05  ],
       [ 14.4542],
       [  8.05  ],
       [ 57.    ],
       [ 26.55  ],
       [  7.225 ],
       [  7.2292],
       [ 15.85  ],
       [  7.925 ],
       [ 26.    ],
       [  7.7958],
       [ 27.    ],
       [  8.05  ],
       [ 27.9   ],
       [  8.6833],
       [ 15.5   ],
       [  7.8958],
       [ 26.    ],
       [  8.6625],
       [ 46.9   ],
       [ 23.    ],
       [  7.7375],
       [  7.75  ],
       [  7.75  ],
       [  7.6292],
       [  7.75  ],
       [  7.75  ],
       [  9.5   ],
       [ 13.    ],
       [263.    ],
       [  7.8958],
       [ 83.475 ],
       [ 15.9   ],
       [  4.0125],
       [ 13.    ],
       [ 13.    ],
       [  0.    ],
       [  7.7958],
       [  7.25  ],
       [151.55  ],
       [  9.2167],
       [ 83.475 ],
       [  8.6625],
       [ 35.5   ],
       [ 22.3583],
       [ 50.4958],
       [ 93.5   ],
       [ 27.7208],
       [  7.8542],
       [  7.7333],
       [  9.475 ],
       [ 30.5   ],
       [  7.775 ],
       [ 26.55  ],
       [120.    ],
       [  7.925 ],
       [ 76.7292],
       [134.5   ],
       [ 53.1   ],
       [  7.775 ],
       [ 53.1   ],
       [ 27.7208],
       [ 26.2875],
       [ 10.4625],
       [ 21.    ],
       [  8.05  ],
       [  7.8958],
       [ 30.    ],
       [135.6333],
       [ 69.55  ],
       [ 15.75  ],
       [ 26.55  ],
       [  7.925 ],
       [  8.05  ],
       [ 14.4542],
       [ 21.    ],
       [  7.8542],
       [  7.8958],
       [ 24.15  ],
       [ 12.    ],
       [ 71.2833],
       [  7.2292],
       [  7.8958],
       [  9.    ],
       [ 10.4625],
       [ 82.1708],
       [  7.75  ],
       [ 22.525 ],
       [ 26.    ],
       [  8.05  ],
       [ 75.25  ],
       [  7.8542],
       [ 35.5   ],
       [  8.05  ],
       [ 13.    ],
       [  7.75  ],
       [ 15.5   ],
       [ 31.275 ],
       [  7.8542],
       [ 27.    ],
       [ 13.    ],
       [ 29.7   ],
       [ 55.    ],
       [ 10.5   ],
       [  7.8958],
       [  6.45  ],
       [ 91.0792],
       [  9.    ],
       [ 86.5   ],
       [ 18.75  ],
       [  7.125 ],
       [  7.8958],
       [ 13.5   ],
       [ 39.6875],
       [  7.8958],
       [ 30.    ],
       [  7.65  ],
       [ 52.    ],
       [ 76.7292],
       [  7.75  ],
       [ 27.75  ],
       [  9.8375],
       [  7.75  ],
       [ 13.    ],
       [ 26.55  ],
       [ 13.    ],
       [  7.8958],
       [  7.75  ],
       [ 16.1   ],
       [  7.75  ],
       [ 13.    ],
       [ 73.5   ],
       [  7.775 ],
       [  0.    ],
       [  7.25  ],
       [ 13.    ],
       [  8.3625],
       [ 24.    ],
       [  7.225 ],
       [  7.8958],
       [  7.4958],
       [ 52.5542],
       [ 26.    ],
       [  8.05  ],
       [  8.05  ],
       [ 10.5   ],
       [ 23.25  ],
       [  7.75  ],
       [  0.    ],
       [  8.05  ],
       [  8.05  ],
       [ 26.    ],
       [227.525 ],
       [ 46.9   ],
       [  7.65  ],
       [ 31.    ],
       [ 14.1083],
       [120.    ],
       [ 77.2875]])

Będziemy także potrzebować imputera do kategorycznych kolumn  napisowych (zwykły Imputer nie działa na tych kolumnach):

In [20]:
# Inspired from stackoverflow.com/questions/25239958
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

Teraz możemy zbudować **pipeline** dla atrybutów kategorycznych:

In [21]:
# from future_encoders import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["Cabin", "Embarked", "Ticket", "Sex"])),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
    ])

In [22]:
cat_pipeline.fit_transform(X_train)

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

Na koniec połączmy powyższe podejścia:

In [23]:
from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

Teraz mamy fajny **pipeline** przetwarzania wstępnego, który pobiera dane wejściowe i zwraca dane wyjściowe złorzone z liczb, które możemy podać do dowolnego modelu uczenia maszynowego.

# Zad

Robimy StratifiedKFold i znajdujemy optymalne parametry dla

* SVM z jądrem rbf
* SVM z jądrem poly
* SVM liniowego
* Regresji logistycznej

In [24]:
from sklearn.model_selection import StratifiedKFold

seed=123
kfold = StratifiedKFold(n_splits=5) #, random_state=seed, shuffle=True)

In [25]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [26]:
X_train.replace([np.inf, -np.inf], np.nan, inplace=True)

In [27]:
pipe = Pipeline([('preprocessing', preprocess_pipeline), ('classifier', SVC(kernel='rbf'))])

param_grid = {
            'classifier__gamma': [0.001, 0.01, 0.1, 1, 10, 100],
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100]
}

grid_1 = GridSearchCV(pipe, param_grid, cv=kfold, return_train_score=True)

grid_1.fit(X_train, y_train)
grid_1.best_params_

{'classifier__C': 10, 'classifier__gamma': 0.1}

In [28]:
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', SVC(kernel='poly'))])

param_grid = {
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
            'classifier__degree': list(range(1,7)),
}
grid_2 = GridSearchCV(pipe, param_grid, cv=kfold)
grid_2.fit(X_train, y_train)
grid_2.best_params_

{'classifier__C': 100, 'classifier__degree': 1}

In [29]:
pipe = Pipeline([('preprocessing', preprocess_pipeline), ('classifier', SVC(kernel='linear'))])

param_grid = {
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
            'classifier__tol': [1e-4, 1e-3, 1e-2, 1e-1]
}

grid_3 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_3.fit(X_train, y_train)
grid_3.best_params_

{'classifier__C': 10, 'classifier__tol': 0.1}

In [33]:
from sklearn.linear_model import LogisticRegression
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', LogisticRegression())])

param_grid = {
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
}
grid_4 = GridSearchCV(pipe, param_grid, cv=kfold)
grid_4.fit(X_train, y_train)
grid_4.best_params_

{'classifier__C': 100}

In [34]:
from sklearn import  metrics


models = []
models.append(('SVM rfb', grid_1.best_estimator_))
models.append(('SVM poly', grid_2.best_estimator_))
models.append(('SVM linear', grid_3.best_estimator_))
models.append(('Logistic regression', grid_4.best_estimator_))

precision_score = []
recall_score = []
f1_score = []
accuracy_score = []
for name, model in models:
    print(name)
    print("precision_score: {}".format(metrics.precision_score(y_test, model.predict(X_test)) ))
    print("recall_score: {}".format( metrics.recall_score(y_test, model.predict(X_test)) ))
    print("f1_score: {}".format( metrics.f1_score(y_test, model.predict(X_test)) ))
    print("accuracy_score: {}".format( metrics.accuracy_score(y_test, model.predict(X_test)) ))
    precision_score.append(metrics.precision_score(y_test, model.predict(X_test)))
    recall_score.append(metrics.recall_score(y_test, model.predict(X_test)))
    f1_score.append( metrics.f1_score(y_test, model.predict(X_test)))
    accuracy_score.append(metrics.accuracy_score(y_test, model.predict(X_test)))

SVM rfb
precision_score: 0.7846153846153846
recall_score: 0.6891891891891891
f1_score: 0.7338129496402878
accuracy_score: 0.7932960893854749
SVM poly
precision_score: 0.7536231884057971
recall_score: 0.7027027027027027
f1_score: 0.7272727272727273
accuracy_score: 0.7821229050279329
SVM linear
precision_score: 0.8181818181818182
recall_score: 0.7297297297297297
f1_score: 0.7714285714285715
accuracy_score: 0.8212290502793296
Logistic regression
precision_score: 0.7910447761194029
recall_score: 0.7162162162162162
f1_score: 0.7517730496453902
accuracy_score: 0.8044692737430168

In [35]:
import pandas as pd
d = {'precision_score': precision_score, 
     'recall_score': recall_score, 
     'f1_score': f1_score,
     'accuracy_score' : accuracy_score
    }
df = pd.DataFrame(data=d)
df.insert(loc=0, column='Method', value=['SVM rbf', 'SVM poly', 'SVM linear', 'Logistic Regression'])
df

,Method,precision_score,recall_score,f1_score,accuracy_score
0,SVM rbf,0.784615,0.689189,0.733813,0.793296
1,SVM poly,0.753623,0.702703,0.727273,0.782123
2,SVM linear,0.818182,0.729730,0.771429,0.821229
3,Logistic Regression,0.791045,0.716216,0.751773,0.804469