In [34]:
import numpy as np

In [35]:
import pandas as pd

In [36]:
train_df = pd.read_csv("train.csv")

In [37]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [38]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [39]:
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].median())

In [40]:
pd.crosstab(train_df["Survived"], train_df["Embarked"])

Embarked   C   Q    S
Survived
0         75  47  427
1         93  30  217

In [41]:
train_df["Embarked"] = train_df["Embarked"].fillna("S")

In [42]:
train_df["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [43]:
train_df["Cabin"] = train_df["Cabin"].fillna("missing")

In [63]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int8
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     891 non-null    int16
 8   Embarked  891 non-null    int8
dtypes: float64(2), int16(1), int64(4), int8(2)
memory usage: 45.4 KB

In [45]:
train_df["Sex"] = train_df["Sex"].astype("category")

In [46]:
train_df["Sex"] = pd.Categorical(train_df["Sex"]).codes + 1

In [48]:
train_df.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.034212,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.064910,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.339898,0.083081,0.018443,-0.549500
Sex,0.042939,-0.543351,0.131900,1.000000,0.081163,-0.114631,-0.245489,-0.182333
Age,0.034212,-0.064910,-0.339898,0.081163,1.000000,-0.233296,-0.172482,0.096688
SibSp,-0.057527,-0.035322,0.083081,-0.114631,-0.233296,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.172482,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,-0.182333,0.096688,0.159651,0.216225,1.000000

In [50]:
train_df = train_df.drop("PassengerId", axis=1)

In [51]:
train_df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [52]:
train_df = train_df.drop("Name", axis=1)

In [56]:
train_df = train_df.drop("Ticket", axis=1)

In [58]:
train_df["Cabin"] = train_df["Cabin"].astype("category")

In [59]:
train_df["Cabin"] = pd.Categorical(train_df["Cabin"]).codes + 1

In [61]:
train_df["Embarked"] = train_df["Embarked"].astype("category")

In [62]:
train_df["Embarked"] = pd.Categorical(train_df["Embarked"]).codes + 1

In [64]:
X = train_df.drop("Survived",axis =1)

In [66]:
Y = train_df["Survived"]

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [70]:
len(X_train), len(X_test), len(Y_train), len(Y_test)

(712, 179, 712, 179)

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [72]:
model = RandomForestClassifier()

In [74]:
model.fit(X_train,Y_train)

RandomForestClassifier()

In [75]:
model.predict(X_test)

array([0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0])

In [76]:
model.predict_proba(X_test)

array([[0.96      , 0.04      ],
       [0.29      , 0.71      ],
       [1.        , 0.        ],
       [0.92      , 0.08      ],
       [0.00333333, 0.99666667],
       [0.54      , 0.46      ],
       [0.34      , 0.66      ],
       [0.24      , 0.76      ],
       [0.37      , 0.63      ],
       [0.4       , 0.6       ],
       [0.66      , 0.34      ],
       [0.9825    , 0.0175    ],
       [1.        , 0.        ],
       [0.4       , 0.6       ],
       [1.        , 0.        ],
       [0.11      , 0.89      ],
       [1.        , 0.        ],
       [0.06      , 0.94      ],
       [0.8125    , 0.1875    ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.41      , 0.59      ],
       [0.16188858, 0.83811142],
       [1.        , 0.        ],
       [0.98      , 0.02      ],
       [0.92      , 0.08      ],
       [0.65      , 0.35      ],
       [0.99      , 0.01      ],
       [0.93      , 0.07      ],
       [0.38      , 0.62      ],
       [0.996     , 0.004     ],
       [1.        , 0.        ],
       [0.63      , 0.37      ],
       [0.09      , 0.91      ],
       [0.49      , 0.51      ],
       [0.03      , 0.97      ],
       [1.        , 0.        ],
       [0.94      , 0.06      ],
       [0.3083875 , 0.6916125 ],
       [0.91      , 0.09      ],
       [0.85      , 0.15      ],
       [0.17      , 0.83      ],
       [0.63      , 0.37      ],
       [0.92      , 0.08      ],
       [0.96      , 0.04      ],
       [0.98      , 0.02      ],
       [0.91      , 0.09      ],
       [0.01      , 0.99      ],
       [0.82      , 0.18      ],
       [0.917     , 0.083     ],
       [0.74      , 0.26      ],
       [0.96      , 0.04      ],
       [1.        , 0.        ],
       [0.8725    , 0.1275    ],
       [0.62      , 0.38      ],
       [0.63      , 0.37      ],
       [0.46      , 0.54      ],
       [1.        , 0.        ],
       [0.32      , 0.68      ],
       [0.83416667, 0.16583333],
       [0.59      , 0.41      ],
       [0.75      , 0.25      ],
       [0.25      , 0.75      ],
       [0.08      , 0.92      ],
       [0.73      , 0.27      ],
       [0.585     , 0.415     ],
       [0.04      , 0.96      ],
       [0.04      , 0.96      ],
       [0.5       , 0.5       ],
       [0.24571429, 0.75428571],
       [0.46      , 0.54      ],
       [0.87      , 0.13      ],
       [0.73      , 0.27      ],
       [0.32      , 0.68      ],
       [0.01      , 0.99      ],
       [0.02      , 0.98      ],
       [0.94      , 0.06      ],
       [1.        , 0.        ],
       [0.11229468, 0.88770532],
       [0.46      , 0.54      ],
       [0.72497619, 0.27502381],
       [0.92166667, 0.07833333],
       [0.71      , 0.29      ],
       [0.8       , 0.2       ],
       [0.66      , 0.34      ],
       [0.32      , 0.68      ],
       [0.93      , 0.07      ],
       [0.89      , 0.11      ],
       [1.        , 0.        ],
       [0.01      , 0.99      ],
       [0.57      , 0.43      ],
       [1.        , 0.        ],
       [0.87      , 0.13      ],
       [0.895     , 0.105     ],
       [0.32      , 0.68      ],
       [0.48      , 0.52      ],
       [1.        , 0.        ],
       [0.94      , 0.06      ],
       [0.78      , 0.22      ],
       [1.        , 0.        ],
       [0.32      , 0.68      ],
       [0.02      , 0.98      ],
       [0.51      , 0.49      ],
       [0.98      , 0.02      ],
       [1.        , 0.        ],
       [0.4       , 0.6       ],
       [0.66      , 0.34      ],
       [0.9075    , 0.0925    ],
       [0.49      , 0.51      ],
       [0.04      , 0.96      ],
       [0.01      , 0.99      ],
       [1.        , 0.        ],
       [0.262     , 0.738     ],
       [0.82      , 0.18      ],
       [1.        , 0.        ],
       [0.88      , 0.12      ],
       [0.31      , 0.69      ],
       [1.        , 0.        ],
       [0.65      , 0.35      ],
       [0.98      , 0.02      ],
       [0.85      , 0.15      ],
       [1.        , 0.        ],
       [0.57      , 0.43      ],
       [1.        , 0.        ],
       [0.05      , 0.95      ],
       [0.05      , 0.95      ],
       [0.01      , 0.99      ],
       [0.9375    , 0.0625    ],
       [0.15      , 0.85      ],
       [0.795     , 0.205     ],
       [0.42      , 0.58      ],
       [0.85      , 0.15      ],
       [0.28      , 0.72      ],
       [1.        , 0.        ],
       [0.09      , 0.91      ],
       [0.64      , 0.36      ],
       [0.84      , 0.16      ],
       [0.77      , 0.23      ],
       [0.8       , 0.2       ],
       [0.94      , 0.06      ],
       [0.77      , 0.23      ],
       [0.34      , 0.66      ],
       [1.        , 0.        ],
       [0.37333333, 0.62666667],
       [1.        , 0.        ],
       [0.3       , 0.7       ],
       [0.92      , 0.08      ],
       [0.99      , 0.01      ],
       [0.95      , 0.05      ],
       [0.01      , 0.99      ],
       [0.95      , 0.05      ],
       [1.        , 0.        ],
       [0.36      , 0.64      ],
       [0.91      , 0.09      ],
       [1.        , 0.        ],
       [0.575     , 0.425     ],
       [0.87      , 0.13      ],
       [0.91      , 0.09      ],
       [0.75      , 0.25      ],
       [0.08      , 0.92      ],
       [1.        , 0.        ],
       [0.77      , 0.23      ],
       [0.01      , 0.99      ],
       [0.04      , 0.96      ],
       [0.89      , 0.11      ],
       [0.94      , 0.06      ],
       [0.14      , 0.86      ],
       [0.73      , 0.27      ],
       [0.67      , 0.33      ],
       [1.        , 0.        ],
       [0.96      , 0.04      ],
       [0.47      , 0.53      ],
       [1.        , 0.        ],
       [0.53      , 0.47      ],
       [0.78      , 0.22      ],
       [0.72      , 0.28      ],
       [0.7       , 0.3       ],
       [0.07      , 0.93      ],
       [1.        , 0.        ]])

In [77]:
model.score(X_test, Y_test)

0.7653631284916201